$imac: 1920px;
$huge: 1500px;
$desktop: 1024px;
$tablet: 769px;
$phablet: 640px;
$mobile: 415px;
$tiny: 300px;
$breakPoint:$tablet;
$maxLayout:1936px;

$light:#FFFFFF;
$dark:rgb(16,17,19);
$yellow1:rgb(245,243,111);
$darkBg:rgba(0,0,0,0.5);
$darkBgMobile:rgba(0,0,0,0.8);
$darkgrey:rgb(80,80,80);
$orange:rgb(223,172,140);
$blue:rgb(42,48,66);

$defaultPadding:1.1em;
$defaultGutter:4em;

$shadow:1px 3px 31px -2px rgba(0,0,0,0.75);